.img{
    width: 150px;
    height: 200px;
}
.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 2px;
    background-color: red;
    animation: example 2s infinite;
    transition: 0.01s;
}
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;
        color: red;}
  }
.book:hover{
    border: 2px solid orange;
}
.author{
    font-size: small;
}
.title{
    font-size: larger;
}
.price{
    font-size: small;
}